.title{
    margin-top: 2em;
    color: #7b7b7b;
    display: flex;
    justify-content: center;
}


.cartItem{
    margin-top: 8em;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}


.itemCart{
    border-bottom: 1px solid #444;
    border-radius: 0.2rem;
    background: #eee;
    width: 80%;
    margin: 1em auto;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    font-weight: 600;
    justify-content: space-between;
}

.price{
    display: flex;
    gap: 2rem;
    text-align: center;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    cursor: pointer;
    color: rgb(20, 196, 178);
}



.price > p{
    display: flex;
    gap: 0.2rem;
    align-items: center;
    color: #000;
    font-weight: bold;
}

.productView{
    color: rgb(20, 196, 178);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center ;
}


.productView:hover{
    transition: 0.3s all linear;
    color: #000;
}


.itemQuantity{
    font-weight: bold;
    color: #7b7b7b;
}

.remove{
    cursor: pointer;
    margin: 0 auto;
    width: 80%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color:rgb(4, 167, 196);
    justify-content: flex-end;
    transition: 0.5s all ease-in-out;
}

.remover:hover{
    transition: 0.5s all ease-in-out;
    color: #7b7b7b;
}

.total{
    display: flex;
    cursor: pointer;
    padding: 1rem;
    background: rgb(4, 167, 196);
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.4rem #444;
    color: #fff;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin: 2em 5em;
    text-align: flex-start;
}


.checkout{
    margin: 0 auto;
    width: 30%;
    display: flex;
    padding: 0.6rem;
    border-radius: 0.4rem;
    border: none;
    background: rgb(4, 167, 196);
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}




@media(max-width: 768px){

    .cartItem{
        margin-top: 8em;
    }

    .remove{
        margin-top: 2em;
        justify-content: center;
    }

    .itemCart{
        padding: 0.6rem;
        font-size: 1rem;
        justify-content: center;
        gap: 1rem;
    }
}