.component{
    margin: 8em auto;
    gap: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartItem{
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}

.itemCart{
    font-size: 0.8  rem;
    padding: 0.8rem;
    background: #eee;
    width: 100%;
    gap: 2rem;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 0.2rem;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(92, 92, 92, 0.425);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #777;
    justify-content: space-between;
}

.itemActions{
    color: #09adca;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}

.itemPrice{
    color: #000;
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.productView{
    text-decoration: none;
    color: #09adca;
}

.checkout{
    padding: 0.8rem;
    background: #09adca;
    border-radius: 0.5rem;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.remove{
    display: flex;
    gap: 0.6rem;
    color: #09adca;
    cursor: pointer;
    align-items: center;
    justify-content: flex-end;
}

.componentModal{
    position: absolute;
    inset: 0 0 0 0;
    opacity: 40%;
    width: 100%;
    background: #000;
}

.modal{
    margin: 0 auto;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    width: 40%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #222;
    background: #eee;
}

.modal button{
    padding: 0.4rem;
    background: #09adca;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
}

.close{
    align-self: flex-end;
    font-size: 1.4em;
    font-weight: bold;
}


.checkoutProducts{
    display: flex;
    gap: 0.5rem;
    font-size: 1.2em;
    font-weight: bold;
    align-items: center;
}

@media(max-width: 768px){

    .component{
        margin: 12em 2em;
    }

    .modal{
        width: 80%;
        text-align: center;
    }
}