.item{
    margin-top: 8rem;
    display: flex;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 1rem;
    background: rgb(252, 251, 251);
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #444;
}

.itemText{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.item img{
    width: 40%;
}

.avaliate{
    display:  flex;
    gap: 1.5rem;
    align-items: center;
}

.buttonProduct{
    padding: 0.4rem;
    background: #0a91cf;
    color: #fff;
    border-radius: 0.5rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

@media(max-width: 768px){
    .item{
        margin: 12em 2em;
        min-width: 80%;
        flex-wrap: wrap;
    }
}