.item{
    background: rgb(238, 238, 238);
    border-radius: 0.5rem;
    width: 80%;
    box-shadow: 0.2rem 0.2rem rgb(163, 163, 163);
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    margin: 8em auto;
    padding: 0.8rem;
}

.itemText{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}


.item img{
    width: 30%;
}

.avaliate{
    display:  flex;
    gap: 2rem;
    align-items: center;
}

.buttonProduct{
    padding: 0.4rem;
    background: #0a91cf;
    color: #fff;
    border-radius: 0.5rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
}