.home{
    width: 100%;
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home img{
    margin-top: 1rem;
    max-width: 80%;
    border-radius: 0.5rem;
}

.componentImage{
    transition: 0.5s all ease-in-out;
    animation: animationCard 0.4s ease-in-out;
    position: absolute;
    top: 10;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.4rem 0.4rem #444;
    padding: 2rem;
    background: #fff;
}


.title{
    color: #7b7b7b;
    font-weight: 800;
    border-bottom: 1px solid #444;
}

.text{
    margin-top: 0.6rem;
    color: #7b7b7b;
    font-weight: 500;
    text-align: center;
}

.links{
    margin-top: 2em;
    color: #fff;
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.link{
    text-decoration: none;
    background: #09e;
    padding: 0.4rem;
    border-radius: 0.5rem;
    color: #fff;
    box-shadow: 0.2rem 0.2rem 0.2rem rgb(141, 141, 141);
    cursor: pointer;
}

.link:hover{
    transition: 0.4s all ease;
    color: #000;
}

@keyframes animationCard{
    0%{
        transition: 0.5s all linear ease-in-out;
    }50%{
        transition: 0.5s all linear ease-in-out;
    }100%{
        transition: 0.5s all linear ease-in-out;
        transform: scale(1.2);
    }
}

@media(max-width: 500px){
    .home img{
        max-width: 100%;
        height: 500px;
    }
}